{% load static %}
<div class="transparent-header">
  <!-- Top Bar -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Header Top Left -->
        <div class="header-top-left col-md-8 col-sm-6 col-xs-12 hidden-xs">

        </div>
        <!-- Header Top Right Social -->
        <div class="header-right col-md-4 col-sm-6 col-xs-12 ">
          <div class="pull-right">
            <ul class="listnone">
              {% if user.is_authenticated %}

              <li><a href="{% url 'profile' user.username %}"><i class="icon-profile-male"></i>{{ user.username }}</a></li>
              <li><a href="javascript:{document.getElementById('logout').submit()}"><i class="fa fa-sign-in"></i> Log-Out
              </a>
              </li>
              {% else  %}
              <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log-In</a></li>
              <li><a href="{% url 'signup' %}"><i class="fa fa-unlock" aria-hidden="true"></i> Sign-Up</a></li>
              {% endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- menu start -->
  <div class="clearfix"></div>
  <!-- menu start -->
  <nav id="menu-1" class="mega-menu">
        <!-- menu list items container -->
        <section class="menu-list-items">
           <div class="container">
              <div class="row">
                 <div class="col-lg-12 col-md-12">
                    <!-- menu logo -->
                    <ul class="menu-logo">
                       <li>
                          <a href="{% url 'index' %}"><img src="{% static 'images\logo.png' %}" alt="logo"> </a>
                       </li>
                    </ul>
                    <!-- menu links -->
                    <ul class="menu-links">
                       <!-- active class -->
                       <li>
                          <a href="{% url 'index' %}"> Home <i class="fa fa-indicator"></i></a>

                       </li>
                       <li>
                          <a href="{% url 'ads' %}">Listings <i class="fa fa-indicator"></i></a>

                       </li>
                       <li>
                          <a href="#">Predict Market Value<i class="fa  fa-indicator"></i></a>

                       </li>
                       <li>
                          <a href="{% url 'about' %}">About <i class="fa  fa-indicator"></i></a>


                       </li>

                       <li><a href="{% url 'contact' %}">Contact </a></li>
                    </ul>
                    <ul class="menu-search-bar">
                       <li>
                          <a href="{% url 'publishing' %}" class="btn btn-light"><i class="fa fa-plus" aria-hidden="true"></i>Advertice With Us</a>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
        </section>
     </nav>
</div>
<form class="" action="{% url 'logout' %}" method="POST" id="logout">
  {% csrf_token %}
  <input type="hidden" name="" value="">
</form>
